//
// Datepicker
//

.datepicker {
  &.el-date-editor.el-input__wrapper {
    min-width: 210px;
    width: 210px;
    height: 38px;
    max-height: 38px;
  }

  .el-range-input {
    font-size: 0.95rem;
    font-weight: 600;
  }
}

.datepicker-popup {
  @include media-breakpoint-down(md) {
    top: 0!important;
    left: -50% !important;
  }
}